<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="5acbfc08-fda0-4c37-ab85-d78fa8f640e4" name="WSGateway01292016 TestSuite 1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="5acbfc08-fda0-4c37-ab85-d78fa8f640e4fileName">WSGateway01292016-TestSuite-1</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
