<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="f31ea46e-2b56-41ee-9278-9fff1fd3338e" name="WSGateway01292016 TestSuite 2" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="f31ea46e-2b56-41ee-9278-9fff1fd3338efileName">WSGateway01292016-TestSuite-2</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
