<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="d6ea89b5-745e-47d7-a493-f2d308a50625" name="VLinkPaymentPlan Test Suite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="d6ea89b5-745e-47d7-a493-f2d308a50625fileName">VLinkPaymentPlan-Test-Suite</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
