<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="580b176b-3bfd-4ae6-b85c-c2abb481f3cb" name="AutomationUpgrade" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="580b176b-3bfd-4ae6-b85c-c2abb481f3cbfileName">AutomationUpgrade</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
